<meta charset="UTF-8">
<meta name="theme-color" content="#000">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Briwa">
<meta name="description" content="Briwa's personal website. Web developers usually have one. Or more.">
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">