<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Briwa">
    <meta name="description" content="Briwa's personal website. Web developers usually have one. Or more.">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" >
    <title>briwa.dev posts</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: black;
            color: white !important;
        }

        p {
            line-height: 1.5em;
        }

        a:active {

        }

        .content {
            margin: 2em auto;
            max-width: 36em;
            padding: 0 1em;
        }

        @media (min-width: 48em) {
            .content {
                max-width: 44em;
            }
        }

        @media (min-width: 62em) {
            .content {
                max-width: 58em;
            }
        }
    </style>
<body>
    <article class="content markdown-body">
        {{ content | safe }}
    </article>
</body>
</html>
